.header {
  padding: 30px;
  width: 95vw;
  display: flex;
  justify-content: space-around;
}

.navElements li {
  color: black;
  display: inline;
  padding-right: 10px;
  font-size: 20px;
}
.navElements a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  padding: 5px;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

.navElements button {
  font-family: "Roboto Mono", monospace;
  color: white;
  height: 40px;
  width: 100px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 4, 4);
}
.navElements button:hover {
  background-color: rgb(156, 12, 12);
}

@media only screen and (max-width: 768px) {
  .header {
  }
}
