/* .bgImage {
  background-image: url("./img/Bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
} */
body {
  font-family: "Roboto Mono", monospace !important;
  background-color: rgb(142, 200, 236) !important;
}
